body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#mainContainer{
    width: 95vw;
    margin: 0 auto;
    
}
.rowStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cellStyle{
    width: 18px;
    height: 18px;
    position: relative;
    font-size: 0;
}
.wallStyle{
    background-color: #ca3939;

    font-size: 0;
}
.pathStyle{
    background-color: #ffffff;
}
.playerStyle{
    width: 15px;
    height: 15px;
    background-color: #7cabf1;
    padding: 1.5px;
}

.hidden{
    display: none;
}